<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<springProfile name="dev,staging">
		<logger name="prop.controller" level="DEBUG" additivity="false">
			<appender-ref ref="CONSOLE" />
		</logger>
	</springProfile>

	<springProfile name="prod">
		<logger name="prop.controller" level="WARN" additivity="false">
			<appender-ref ref="FILE" />
		</logger>
	</springProfile>

	<if condition='property("spring.profiles.active").contains("dev")'>
		<then>
			<logger name="prop.helpers" level="DEBUG"
				additivity="false">
				<appender-ref ref="CONSOLE" />
			</logger>
		</then>
		<else>
			<logger name="prop.helpers" level="WARN"
				additivity="false">
				<appender-ref ref="FILE" />
			</logger>
		</else>
	</if>
</configuration>